body {
  margin: 0;
  padding: 0;
  font-family: "IRANYekanWeb";
  background: #fff; }

.rtl {
  direction: rtl; }

.margin {
  margin-top: 20px; }

a, div, .button {
  font-family: "IRANYekanWeb" !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: "IRANYekanWeb"; }

a {
  color: white; }
  a ::hover {
    color: white; }

.no-radius {
  border-radius: 0px !important; }

.ui.massive.menu {
  direction: rtl; }

.ui .menu .ui.dropdown i.dropdown.icon {
  float: left;
  margin: 0 1rem 0 0; }

.ui .menu .ui.dropdown .menu {
  text-align: right;
  right: 0;
  min-width: calc(100% + 30px); }
  .ui .menu .ui.dropdown .menu .item {
    text-align: right; }

.logo {
  text-align: center;
  padding: 0 25px;
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: bold; }
  .logo a {
    color: rgba(0, 0, 0, 0.87); }

.button a:hover {
  color: white !important; }

.button__add {
  background: red; }

.fixed {
  position: fixed;
  width: 13%;
  margin-top: -70px; }

.sideMenu ul {
  margin: 0;
  padding: 0; }
  .sideMenu ul .active {
    background: #eeeeee; }
  .sideMenu ul li {
    list-style: none;
    border-bottom: solid 1px #D4D4D5; }
    .sideMenu ul li:last-child {
      border-bottom: none; }
    .sideMenu ul li a {
      padding: 12.5px;
      color: rgba(0, 0, 0, 0.87);
      display: block; }
      .sideMenu ul li a:hover {
        background: #eeeeee; }

.modal {
  text-align: right !important;
  direction: rtl; }

.inline-login {
  display: flex; }

.form label {
  position: relative;
  bottom: 10px; }

.form .input-align {
  margin-bottom: 20px; }

.form .half {
  width: 49%;
  float: right; }

.form .padd-right {
  margin-right: 4% !important; }
  .form .padd-right .input-align {
    margin-right: 4% !important; }

.form .error {
  display: block;
  margin: 5px 0 15px;
  color: red; }

.form .input {
  margin-bottom: 20px !important; }

.form .submit__btn {
  padding: 0.8rem 3rem !important;
  font-size: 1.1rem !important;
  margin-top: 10px;
  margin-right: 0; }

.upload {
  width: 100%;
  min-height: 170px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: .28571429rem;
  padding: 10px; }

.product {
  min-height: 430px !important; }
  .product .product__image {
    width: 100%;
    height: 200px; }

.addProduct h2 {
  margin-top: 2rem; }

input, textarea {
  font-family: "IRANYekanWeb" !important; }

.search {
  background: #fbfbfb;
  border-radius: 3px;
  margin-bottom: 1.5rem;
  border: solid 1px #D4D4D5;
  padding: .8rem; }
  .search button {
    font-weight: normal !important;
    float: left;
    margin-top: 10px !important; }
  .search .half {
    width: 49% !important;
    float: right; }
  .search .pad {
    margin-right: 2%;
    height: 2.7rem !important; }
  .search::after {
    display: block;
    content: "";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }

.not-found {
  text-align: center;
  margin: 5rem auto;
  font-size: 1rem; }
  .not-found i {
    font-size: 3rem; }

.search_term {
  display: inline-block;
  padding: 5px 10px;
  background: #DB2828;
  border-radius: 3px;
  color: #fff;
  margin-bottom: 1.2rem;
  margin-right: 5px; }
  .search_term i {
    font-size: 1.2rem !important;
    position: relative;
    top: -2px;
    cursor: pointer; }
