$font: 'IRANYekanWeb';
$black: rgba(0, 0, 0, 0.87);
$grey: #D4D4D5;

body {
  margin: 0;
  padding: 0;
  font-family: $font;
  background: #fff;
}

.rtl {
  direction: rtl;
}

a, div,.button {
  font-family: $font!important;
}

a {
  color: white;
  ::hover{
    color: white;
  }
}

.no-radius {
  border-radius: 0px!important;   
}

.ui.massive.menu {
  direction: rtl;
}

.ui {
  .menu {
    .ui.dropdown {
      i.dropdown.icon {
        float: left;
        margin: 0 1rem 0 0;
      }
      .menu {
        text-align: right;
        right: 0;
        min-width: calc(100% + 30px);
        .item {
          text-align: right;
        }
      }
    }
  }
}

.logo {
  text-align: center;
  padding: 0 25px;
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: bold;
  a {
    color: rgba(0,0,0,.87);
  }
}

.button {
  &__add {
    background: red;
  }
}

.fixed {
    position: fixed;
    width: 13%;
    margin-top: -70px;
  }
.sideMenu {
  ul {
    margin: 0;
    padding: 0;
    .active {
        background: lighten($grey, 10%);        
      }
    li {
      list-style: none;
      border-bottom: solid 1px $grey;
      &:last-child{
        border-bottom: none;
      }
      a {
        padding: 12.5px;
        color: $black;
        display: block;
        &:hover {
          background: lighten($grey, 10%);
        }
      }
    }
  }
}